@using FormulaPostgreSql.Models.ViewModels
@model RaceResultsVM

@{
    ViewData["Title"] = "Upsert";
}


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RaceResult.Id" />
            <div class="row pb-2">
                <h2 class="text-primary">@(Model.RaceResult.Id!=0?"Update":"Create") Results</h2>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.FinalPosition" class="control-label"></label>
                <input asp-for="RaceResult.FinalPosition" class="form-control" />
                <span asp-validation-for="RaceResult.FinalPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.FastestLap" class="control-label"></label>
                <input asp-for="RaceResult.FastestLap" class="form-control" />
                <span asp-validation-for="RaceResult.FastestLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.LapsFinished" class="control-label"></label>
                <input asp-for="RaceResult.LapsFinished" class="form-control" />
                <span asp-validation-for="RaceResult.LapsFinished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.RaceTime" class="control-label"></label>
                <input asp-for="RaceResult.RaceTime" class="form-control" />
                <span asp-validation-for="RaceResult.RaceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceResult.PointsGained" class="control-label"></label>
                <input asp-for="RaceResult.PointsGained" class="form-control" />
                <span asp-validation-for="RaceResult.PointsGained" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RaceResult.DriverFk"></label>
                <select asp-for="RaceResult.DriverFk" asp-items="@Model.DriverList" class="form-select">
                    <option disabled selected>--Select Driver--</option>
                </select>
                <span asp-validation-for="RaceResult.DriverFk" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RaceResult.RaceFk"></label>
                <select asp-for="RaceResult.RaceFk" asp-items="@Model.RaceList" class="form-select">
                    <option disabled selected>--Select Race--</option>
                </select>
                <span asp-validation-for="RaceResult.RaceFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.RaceResult.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:100px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:100px">Create</button>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
