@{
    ViewData["Title"] = "Qualifying Result";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Qualifying Result</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Qualifying Result
            </a>
        </div>
    </div>
    <br />
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Fastestlapq1</th>
                <th>Fastestlapq2</th>
                <th>Fastestlapq3</th>
                <th>Driver</th>
                <th>Race</th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js/qualyResults.js"></script>
}