@{
    ViewData["Title"] = "Images";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Images</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Image
            </a>
        </div>
    </div>
    <br />
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ImageUrl</th>
                <th>ImageDescription</th>
                <th>TeamFk</th>
                <th>Driver</th>
                <th>Track</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js/imageInfos.js"></script>
}