@using FormulaPostgreSql.Models.ViewModels
@model LocationVM

@{
    ViewData["Title"] = "Upsert";
}


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Location.Id" />
            <div class="row pb-2">
                <h2 class="text-primary">@(Model.Location.Id!=0?"Update":"Create") Location</h2>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="Location.Locationname" class="control-label"></label>
                <input asp-for="Location.Locationname" class="form-control" />
                <span asp-validation-for="Location.Locationname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location.CountryFk"></label>
                <select asp-for="Location.CountryFk" asp-items="@Model.CountryList" class="form-select">
                    <option disabled selected>--Select Country--</option>
                </select>
                <span asp-validation-for="Location.CountryFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Location.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:100px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:100px">Create</button>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
